body {
    margin: 0;
    font-family: sans-serif;
    text-transform: capitalize;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a, button{
    font-family: "Montserrat" sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0a0a0a;
    text-decoration: none;

}
.header h2{
    color: palevioletred;
    font-size: 30px;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;   
}
.logo{
    cursor: pointer;
} 
.navlink{
    list-style: none;
}
.navlink li{
    display: inline-block;
    padding: 0px 20px;

}
.navlink li a{
    transition: all 0.3s ease 0s;

}

button:hover{
    background-color:rgba(0, 136, 169, 0.8) ;
}
.dropbtn {
    color: rgba(253, 103, 153, 0.281);
    padding: 16px;
    font-size: 16px;
    border: none;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  

.container{
    padding: 8%;
}
/*banner style*/
.banner{
    display: flex;
    align-items: center;

}
.bannertext h2{
    font-size: 70px;
    margin-bottom: 40px;
}
.bannertext h2 span{
    color: #e91e63;
}
.bannertext{
    width: 50%;
}
.bannertext p{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 18px;
}
.bannerimg{
    width: 50%;
}
img{
    max-width: 100%;
}
 .bannertext button{
    border: none;
    border-radius: 5px;
    margin: 40px 0px;
    padding: 10px 30px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #fff;
    background-color: cyan;
    transition: all linear 0.2s;

}
.bannertext button:hover{
    background-color: darkmagenta;
}
/*banner about*/
.abouttext{
    text-align: center;
    padding: 120px 2%;
    margin: 30px 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: #222;
    border: 1px hidden #BFBFBF;
    background-color: white;
    box-shadow:0px 0px 20px 0px #aaaaaa;

}
.about{
    display: flex;
}
.about a{
    text-decoration: none;
    color: violet;
    line-height: 120px;
    margin: auto;
    color: purple;
}
.abouttext h2{
    line-height: 20px;
    margin: 20px;
}
.about .abouttext .icon {
    margin: 0px auto;
    border-radius: 100%;
    box-shadow: 5px;
    background-color: #f1f1f1;
    width: 30%;
    font-size: 70px;
}
.abouttext .icon{
    color: rgb(119, 207, 119);
}
/*business part*/
.business{
    display: flex;
    
}
.businesstext h3{
     color: rgb(119, 207, 119);
     font-family: sans-serif;
 }
 .businesstext h2{
     margin: 10px 0px;
     line-height: 30px;
 }
 .businesstext p{
     line-height: 25px;
     padding: 12px 0px;
     margin: 0px;
 }
 .businesstext ul li{
     margin: 0px 20px;
     line-height: 30px;
 }
 .businesstext{
     max-width: 50%;
 }
 .businessimg{
     width: 50%;
 }
 .businesstext button{
    border: none;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 10px 30px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #fff;
    background-color: cyan;
    transition: all linear 0.5s;
}
.businesstext button:hover{
    color: white;
    background: wheat;
}
/*service part*/
.servicepart{
    text-align: center;
    padding: 20px 10px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: #222;
    border: 1px hidden #BFBFBF;
    background-color: white;
    box-shadow:10px 10px 20px 20px #aaaaaa;

}
.servicetext p{
    line-height: 30px;
}


.servicetext{
    text-align: center;
    font-family: sans-serif;
}
.servicetext h2{
    font-size: 40px;
    font-family: sans-serif;
    margin: 30px;
    line-height: 30px;
}
.service{
    display: flex;
}
.servicepart p{
    
    margin-bottom: 80px;
    line-height: 24px;
}
.servicepart h2{
    margin: 20px;
}
.service .servicepart .icon{
    width: 70px;
    margin: 0px auto;
    font-size: 60px;
    border-radius: 50%;
    background-color: rgb(119, 207, 119);
}

/*button*/
dropbtn {
    background-color: #c9318f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn {
    position: relative;
    display: inline-block
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropbtn:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropbtn:hover .dropbtn {
    background-color: #3e8e41;
  }
  /*comapnies part*/
  .companyimg{
     width: 50%;
  }
  .companytext{
      width: 50%;
      
  }
  .company{
      display: flex;
      align-items: center;
}
  .companytext h3{
      font-size: 25px;
      line-height: 30px;
      margin: 10px 2px; 
  }
  .companytext h4{
      font-size: 20px;
      margin: 30px 0px 30px 0px;

  }
.companytext p{
    font-size: 25px;
    margin: 20px 0px;
    font-weight: 400;
}
.companycount{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single{
    width: 33.33%;
    
}
.companycount .single h3{
    font-size: 30px;
}
.companycount .single p{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 300;
}
/*partner */

.partnertext{
    padding: 40px 50px;
    text-align: center;
}
.partnertext h2{
    margin: 20px;
    font-size: 30px;
}
.partnertext p{
    padding: 0px 20px;
    line-height: 30px;
}
.partnericon{
    text-align: center;
    
}
/*email*/
.box{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100vh;
}
.formbox{
    padding: 10px;
    border-radius: 5px;
    background: #f1f1f1;
    box-shadow: 5px 5px 5px #f9f9f9;
}
.formbox input{
    font-size: 40px;
    color: black;
    padding: 2px 40px;
    border: none;
    outline: none;
    background: #ececec;
}
.formbox button{
    color: white;
    padding: 20px 20px;
    font-size: 20px;

}
.footer{
    text-align: center;
    display: flex;
    justify-content: space-between;
}